<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xjx.helper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".global.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="q">
        <activity android:name=".ui.home.activity.todo.customviewui.TouchUnlockActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.home.activity.todo.customviewui.SliderActivity" />
        <activity android:name=".ui.home.activity.todo.customviewui.DragDropActivity" />
        <activity android:name=".ui.home.activity.todo.animation.RadialGradientActivity" />
        <activity android:name=".test.TestCustomViewActivity" />
        <activity android:name=".ui.home.activity.todo.customviewui.CustomTextViewActivity" />
        <activity android:name=".ui.home.activity.todo.widget.CustomCalendarChooserActivity" />
        <activity android:name=".ui.home.activity.todo.animation.CustomDialogActivity" />
        <activity android:name=".ui.home.activity.todo.animation.TranslationXActivity" /> <!-- android:requestLegacyExternalStorage="true" -->
        <activity android:name=".test.TestInputActivity" />
        <activity android:name=".ui.home.activity.todo.customviewui.RoundActivity" />
        <activity android:name=".test.TestKotlin" />
        <activity android:name=".test.TestMapActivity" />
        <activity android:name=".ui.home.activity.todo.widget.WidgetMapActivity" />
        <activity android:name=".ui.home.activity.todo.customviewui.CustomRandomLayoutActivity" />
        <activity android:name=".ui.home.activity.todo.java.ThreadExecutorActivity" />
        <activity android:name=".ui.home.activity.todo.java.JavaMapActivity" />
        <activity android:name=".ui.home.activity.todo.customviewui.CustomProgressViewActivity" />
        <activity android:name=".ui.home.activity.todo.customviewui.CustomPassWordActivity" />
        <activity android:name=".ui.home.activity.todo.animation.CustomGifViewActivity" />
        <activity android:name=".ui.home.activity.todo.animation.AnimationMapActivity" />
        <activity android:name=".ui.home.activity.todo.customviewui.LoadProgressActivity" />
        <activity android:name=".ui.home.activity.todo.customviewui.ViewPagerGirdViewActivity" />
        <activity android:name=".ui.home.activity.todo.customviewui.CustomRecycleViewActivity" />
        <activity android:name=".ui.home.activity.todo.customviewui.DrawableTextViewActivity" />
        <activity android:name=".ui.home.activity.todo.customviewui.CustomViewMapActivity" />
        <activity android:name=".ui.home.activity.todo.widget.RecycleViewDivederActivity" />
        <activity android:name=".ui.home.activity.todo.widget.CustomTime2Activity" />
        <activity android:name=".ui.DownLoadManagerActivity" /> <!-- 主界面 -->
        <activity android:name=".ui.home.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:label="7.0临时访问目录权限的处理">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>